* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9fafb;
}

a {
    text-decoration: none;
    color: #000;
}

.btn {
    padding: 12px 18px;
    border-radius:6px;
    border-width: 1px;
}

.donate-btn {
    background-color: #ffa300;
    font-size: 1rem;
    color: #003a70;
    font-weight: 500;
}

.main-btn.btn {
    background-color: #003a70;
    color: #fff;
    outline: none;
    /* font-weight: 700; */
    margin-right: 18px;
    font-size: .95rem;
    border: none;
}

.logo-container img {
    width: 200px;
}

.sub-btn.btn {
    background-color: transparent;
    color: #fff;
    outline: none;
    border: 2px solid #fff;
    /* font-weight: 700; */
    font-size: .95rem;
       
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

.links {
    flex: 0 0 380px;
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 24px;
}

.sub-front {
    background-color: #1e2939;
    padding: 18px 0;
}

.sub-front-btn {
    padding: 8px 24px;
    align-self: center;
    background-color: #003a70;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
}

.sub-front div p {
    font-size: initial;
    color: #fff;
}

.sub-front div h4 {
    color: #fff;
    margin-bottom: 12px;
}

.sub-front > div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.main {
    background: no-repeat center top 10% url("/assets/main_bg.jpg");
    height: 520px;
    background-size: 100% 1000px;
    opacity: .85;
}

.main div:first-child {
    margin: 0 auto;
    height: 100%;
}




.main-front {

    display: flex;

    & > div {
        flex: 1 0 50%;
    }

    & div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    & h1, & p {
        color: white;
    }

    & h1 {
        font-size: 3.7rem;
    }

    & p {
        font-size: 1.9rem;
        font-weight: 700;
    }

    & hr {
        width: 100px;
        height: 4px;
        background-color: orange;
        outline: none;
        border: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    }
    


.blogs {
    background-color: #003a70;
    padding: 40px 0;
}

.blogs .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & > * {
        margin-bottom: 54px;
    }

    & > p {
        color: #fff;
        font-weight: 600;
    }
}

.blog {
    background-color: #fff;
    border-radius: 8px;
    flex: 0 0 32%;
    padding: 24px;

    display: flex;
    flex-direction: column;


    & h4 {
        font-size: 1.1rem;
    }


    & > * {
        margin-bottom: 12px;
    }

    & a {
        margin-top: auto;
    }
}

.blog-container {
    display: flex;
    justify-content: space-between;
}

.blog-btn {
    background-color: transparent;
    outline: none;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 500;
    font-size: .9rem;
}

.getting-started {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 100px 24px;
    background-color: #f9fafb;
}

.getting-started-list {
    display: flex;
    flex-direction: column;
}


.getting-started-main, .getting-started-list {
    flex: 1 1 50%;
}

.getting-started-main {
    margin: auto 0;

    & p:first-child {
        font-weight: 600;
        font-size: .85rem;
        margin-bottom: 24px;
    }

    & h3 {
        font-size: 2.4rem;
        margin-bottom: 24px;
    }
}



.list {
    margin-bottom: 12px;
    border-radius: 8px;
    background-color: #fff;

    & .list-heading {
        background-color: #e5e7eb;
        padding: 24px;
    }

    & h2 {
        border-radius: 8px 8px 0 0;
    }

    & p {
        padding: 24px;
    }

    & a {
        text-decoration: underline;
        padding-left: 24px;
        margin-bottom: 24px;
    }

    .list-container {
        display: none;
    }
}

.list-container.show {
    display: initial;
}

.impact-header {
    margin-bottom: 64px;
    font-size: 2.5rem;
}

.impact-list-container {
    display: flex;
    justify-content: space-between;
    gap: 32px;

    & * {
        margin-bottom: 32px;
    }

    & h2 {
        font-size: 1.9rem;
    }

    & .btn {
        background-color: #003a70;
        color: #fff;
        font-weight: 700;
        font-size: .9rem;
    }

}

.impact-list {
    flex: 1 1 50%;
}

.snc {
    padding: 100px;
    & .snc-header {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 32px;

        & h1 {
            font-size: 2.5rem;
            margin-bottom: 22px;
        }

        & p {
            font-size: 1.1rem;
            width: 800px;
            margin: 0 auto;
            margin-bottom: 32px;
        }
    }

    & .snc-content-container {
        display: flex;
        justify-content: space-between;
        gap: 32px;

        & img {
            width: 230px;
            margin: 0 auto;
        }

        & .snc-content {
            flex: 1 1 50%;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            padding: 32px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & * {
                margin-bottom: 22px;
            }

            & a {
                font-weight: 600;
            }
        }
    }

}

#content {
    transition: all ease-in;
}

.sponsors {
    background-color: #f9fafb;
    padding: 64px;
    text-align: center;

    h1 {
        margin-bottom: 48px;
    }

    img {
        max-width: 80%;
        max-height: 45px;
        transition: all .2s ease;
    }

    .sponsor {
        display: grid;
        gap: 7px;
        margin-bottom: 48px;

        h3 {
            /* flex: none; */
            width: 100%;
            margin-bottom: 24px;
            grid-column: 1/-1;
            text-align: left;
        }

        &.diamond-level {
            grid-template-columns: repeat(3, 1fr);
        }

        &.platinum-level {
            grid-template-columns: repeat(4, 1fr);
        }

        &.gold-level, &.silver-level {
            grid-template-columns: repeat(6, 1fr);
        }
    }


    .sponsor-container {
        /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); */
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 12px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            border-color: #d1d5dc;

            img {
                transform: scale(1.07);
            }
        }
    }
}

.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;

    .logo {
        grid-column: 1/-1;
        margin-bottom: 28px;
        
        img {
            width: 140px;
        }
    }

    .footer-info {
        grid-column: 1/2;

        display: grid;
        grid-template-columns: repeat(2, 1fr);

        p {
            grid-column: 1/-1;
        }

        a {
            text-decoration: underline;
            color: #1661aa;
        }

        & > .footer-address, .footer-address-po {
            margin-bottom: 12px;
        }
    }

    .footer-form {
        grid-column: 2/3;

        form {
            display: flex;
            flex-direction: column;
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 12px;
            border-radius: 4px;

            input {
                outline: none;
                padding: 4px;;
            }

            .email {
                label {
                    margin-right: 32px;
                }
            }

            > * {
                margin-bottom: 12px;
            }

            span {
                margin-bottom: 42px;
                font-size: .85rem;

                a {
                    color: #1661aa;
                }
            }

            .btn {
                align-self: start;
                background-color: #2c7fd3;
                font-size: 1.2rem;
            }
        }
    }
}

.copyright {
    background-color: #003a70;
    color: #fff;
    padding: 32px;

    & .container {
        display: flex;
        justify-content: space-between;

        a {
            color: #fff;
        }
    }

    .right {
        display: flex;
        list-style-type: none;

        li {
            margin-right: 12px;
        }

        a {
            color: #fff;
        }
    }
    
}